.container1{
  display: -webkit-flex;
  display: flex;
  height: 300px;
  width: 1000px
}

.container2{
  display: -webkit-flex;
  display: flex;
  height: 300px;
  width: 1000px
}

.flex-item{
  background-color: #009688;
  width: 300px;
  height: 275px;
  margin: 30px;
  border-radius: 10px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.back {
  height: 250px;
  width: 190px;

}

.container1 {
  perspective: 1000;
}


.front, .back {

  position: absolute;

}

.front {
  backface-visibility: hidden;
  background-image: url('../assets/2.jpg');
  background-position: center;
}
.back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-image: url('../assets/3.jpg');
  background-position: center;

}
img{
  height: 250px;
  width: 190px;
}