.container1{
  display: -webkit-flex;
  display: flex;
  height: 300px;
  width: 1000px
}

.container2{
  display: -webkit-flex;
  display: flex;
  height: 300px;
  width: 1000px
}

.flex-item{
  background-color: #009688;
  width: 300px;
  height: 275px;
  margin: 30px;
  border-radius: 10px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.back {
  height: 250px;
  width: 190px;
  background: 
}

.container1 {
  perspective: 1000;
}


.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat;
  z-index: 2;
}

img{
  height: 250px;
  width: 190px;
}